Repository FraunhoferISST/Innamark, pull requests merged in 2024-07, with the labels that each got.

#86 docs(watermarker): create initial documentation
  cli/src/main/kotlin/Main.kt
  docs/docs/03-usage/10-watermarker/01-installation.md
  docs/docs/03-usage/10-watermarker/02-kotlin.md
  docs/docs/03-usage/10-watermarker/03-java.md
  docs/docs/03-usage/10-watermarker/04-javascript.md
  docs/docs/03-usage/10-watermarker/index.mdx
  docs/docs/03-usage/10-watermarker/java.md
  docs/docs/03-usage/10-watermarker/javascript.md
  docs/docs/04-development/10-watermarker/concepts.mdx
  docs/docs/04-development/10-watermarker/design-goals.mdx
  docs/docs/04-development/10-watermarker/index.mdx
  docs/docs/04-development/10-watermarker/trendmark.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
  watermarker/src/commonMain/kotlin/returnTypes/Status.kt
  watermarker/src/commonMain/kotlin/watermarks/TextWatermark.kt
Labels: documentation, component: watermarker

#96 style(webinterface): adjust text and styling
  NOTICE.md
  webinterface/build.gradle.kts
  webinterface/src/jsMain/kotlin/App.kt
  webinterface/src/jsMain/kotlin/WatermarkTextEmbedTab.kt
  webinterface/src/jsMain/kotlin/WatermarkTextExtractTab.kt
  webinterface/src/jsMain/resources/css/custom.css
  webinterface/src/jsMain/resources/img/favicon.ico
  webinterface/src/jsMain/resources/img/trend_logo_b.svg
  webinterface/src/jsMain/web/index.html
Labels: component: webinterface

#100 feat(webinterface): add user friendly error handling
  watermarker/src/commonMain/kotlin/fileWatermarker/TextWatermarker.kt
  watermarker/src/commonTest/kotlin/unitTest/fileWatermarker/TextWatermarkerTest.kt
  webinterface/src/jsMain/kotlin/WatermarkTextEmbedTab.kt
  webinterface/src/jsMain/kotlin/WatermarkTextExtractTab.kt
  webinterface/src/jsMain/resources/css/custom.css
Labels: component: webinterface, feature
