Repository FraunhoferISST/Innamark, pull requests merged in 2024-05, with the labels that each got.

#40 feat(watermarker): support JS library export
  samples/js_modules/js_modules_minimal_example.js
  samples/js_modules/package.json
  samples/plain_js/plain_js_minimal_example.html
  watermarker/README.md
  watermarker/build.gradle.kts
  watermarker/kotlin-js-store/yarn.lock
  watermarker/src/commonMain/kotlin/Watermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/FileWatermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/TextWatermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/ZipWatermarker.kt
  watermarker/src/commonMain/kotlin/files/TextFile.kt
  watermarker/src/commonMain/kotlin/files/WatermarkableFile.kt
  watermarker/src/commonMain/kotlin/files/ZipFile.kt
  watermarker/src/commonMain/kotlin/returnTypes/Result.kt
  watermarker/src/commonMain/kotlin/returnTypes/Status.kt
  watermarker/src/commonMain/kotlin/watermarks/DeflateWatermark.kt
  watermarker/src/commonMain/kotlin/watermarks/Watermark.kt
  watermarker/src/jsMain/kotlin/helper/Compression.kt
Labels: component: watermarker

#43 docs: update contributing information
  CONTRIBUTING.md
Labels: documentation

#52 feat(watermarker): add Trendmark, TrendmarkBuilder, and Textmark
  docs/Trendmark.md
  watermarker/build.gradle.kts
  watermarker/src/commonMain/kotlin/Watermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/TextWatermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/ZipWatermarker.kt
  watermarker/src/commonMain/kotlin/helper/CRC32.kt
  watermarker/src/commonMain/kotlin/returnTypes/Status.kt
  watermarker/src/commonMain/kotlin/watermarks/DeflateWatermark.kt
  watermarker/src/commonMain/kotlin/watermarks/Textmark.kt
  watermarker/src/commonMain/kotlin/watermarks/Trendmark.kt
  watermarker/src/commonMain/kotlin/watermarks/TrendmarkBuilder.kt
  watermarker/src/commonMain/kotlin/watermarks/Watermark.kt
  watermarker/src/commonTest/kotlin/HelperFunctions.kt
  watermarker/src/commonTest/kotlin/unitTest/WatermarkerTest.kt
  watermarker/src/commonTest/kotlin/unitTest/fileWatermarker/TextWatermarkerTest.kt
  watermarker/src/commonTest/kotlin/unitTest/files/TextFileTest.kt
  watermarker/src/commonTest/kotlin/unitTest/watermarks/TextmarkTest.kt
  watermarker/src/commonTest/kotlin/unitTest/watermarks/TrendmarkTest.kt
  watermarker/src/jsMain/kotlin/helper/CRC32.kt
  watermarker/src/jsTest/kotlin/HelperFunctions.kt
  watermarker/src/jvmMain/kotlin/JvmWatermarker.kt
  watermarker/src/jvmMain/kotlin/helper/CRC32.kt
  watermarker/src/jvmTest/kotlin/HelperFunctions.kt
  watermarker/src/jvmTest/kotlin/integrationTest/watermarks/TrendmarkIntegrationTestJvm.kt
  watermarker/src/jvmTest/kotlin/unitTest/JvmWatermarkerTest.kt
  watermarker/src/jvmTest/kotlin/unitTest/files/TextFileTestJvm.kt
  watermarker/src/jvmTest/kotlin/unitTest/files/ZipFileTestJvm.kt
Labels: feature, component: watermarker

#54 feat(watermarker): move single separator character to the beginning of each watermark
  samples/lorem_ipsum_watermarked.txt
  watermarker/src/commonMain/kotlin/fileWatermarker/TextWatermarker.kt
  watermarker/src/commonTest/kotlin/unitTest/WatermarkerTest.kt
  watermarker/src/jvmTest/resources/lorem_ipsum_watermarked.txt
Labels: feature, component: watermarker

#55 build(deps): upgrade to Kotlin 2.0.0 and Gradle 8.5
  .gitignore
  .idea/kotlinc.xml
  cli/build.gradle.kts
  cli/gradle/wrapper/gradle-wrapper.jar
  cli/gradle/wrapper/gradle-wrapper.properties
  cli/gradlew
  cli/gradlew.bat
  watermarker/build.gradle.kts
  watermarker/gradle/wrapper/gradle-wrapper.jar
  watermarker/gradle/wrapper/gradle-wrapper.properties
  watermarker/gradlew
  watermarker/gradlew.bat
  watermarker/kotlin-js-store/yarn.lock
  webinterface/.kotlin-js-store/yarn.lock
  webinterface/build.gradle.kts
  webinterface/gradle/wrapper/gradle-wrapper.jar
  webinterface/gradle/wrapper/gradle-wrapper.properties
  webinterface/gradlew
  webinterface/gradlew.bat
Labels: component: cli, component: webinterface, dependencies, component: watermarker

#57 refactor(watermarker): remove specific watermarks
  watermarker/src/commonMain/kotlin/Watermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/FileWatermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/TextWatermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/ZipWatermarker.kt
  watermarker/src/commonMain/kotlin/watermarks/DeflateWatermark.kt
  watermarker/src/commonMain/kotlin/watermarks/Watermark.kt
  watermarker/src/commonTest/kotlin/integrationTest/fileWatermarker/TextWatermarkerIntegrationTest.kt
  watermarker/src/commonTest/kotlin/unitTest/WatermarkerTest.kt
  watermarker/src/jvmMain/kotlin/JvmWatermarker.kt
  watermarker/src/jvmTest/kotlin/unitTest/JvmWatermarkerTest.kt
  watermarker/src/jvmTest/kotlin/unitTest/fileWatermarker/TextWatermarkerTestJvm.kt
  watermarker/src/jvmTest/kotlin/unitTest/fileWatermarker/ZipWatermarkerTestJvm.kt
Labels: component: watermarker, refactor

#64 fix: adjust `cli` and `webinterface` components to new library API
  cli/src/main/kotlin/Main.kt
  webinterface/src/jsMain/kotlin/WatermarkExtractTab.kt
  webinterface/src/jsMain/kotlin/WatermarkTextTab.kt
Labels: bug, component: cli, component: webinterface

#65 refactor(watermarker): rename Textmark to TextWatermark
  watermarker/src/commonMain/kotlin/Watermarker.kt
  watermarker/src/commonMain/kotlin/fileWatermarker/FileWatermarker.kt
  watermarker/src/commonMain/kotlin/watermarks/TextWatermark.kt
  watermarker/src/commonTest/kotlin/unitTest/WatermarkerTest.kt
  watermarker/src/commonTest/kotlin/unitTest/watermarks/TextWatermarkTest.kt
  watermarker/src/jvmMain/kotlin/JvmWatermarker.kt
Labels: component: watermarker, refactor

#66 docs: initialize docusaurus
  .github/workflows/deploy_docusaurus.yml
  .github/workflows/deploy_watermarker-source-code-docs.yml
  .github/workflows/test_cli.yml
  .github/workflows/test_docusaurus.yml
  .github/workflows/test_watermarker.yml
  .github/workflows/test_webinterface.yml
  .gitignore
  .idea/codeStyles/Project.xml
  NOTICE.md
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/Trendmark.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures/index.js
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/static/.nojekyll
  docs/static/img/cli_undraw_programmer.svg
  docs/static/img/cli_undraw_programmer.svg.license
  docs/static/img/favicon.ico
  docs/static/img/library_undraw_software_engineer.svg
  docs/static/img/library_undraw_software_engineer.svg.license
  docs/static/img/logo-black.svg
  docs/static/img/logo-white.svg
  docs/static/img/webinterface_undraw_website.svg
  docs/static/img/webinterface_undraw_website.svg.license
Labels: documentation, pipeline
